{% extends "base3.html" %}


      {% block title %}IIT BHU Alumni Portal {% endblock %}
         
   {% block body %}
	 <style>html,body{height:100%}.nis{text-align:center;font-family:sans-serif;margin-top:20px;font-size:40px}#nishith{text-align:center;font-family:sans-serif;margin-top:20px;font-size:15px}#way{font-family:sans-serif;text-decoration-color:red;font-size:10px}hr{display:block;margin-top:.5em;margin-bottom:.5em;margin-left:auto;margin-right:auto;border-style:inset;border-width:1px}#photo{height:250px;width:25opx}.ni{width:200px;height:200px}.tumbnail{max-width:304px;max-height:236px}.wrapper{min-height:100%;height:auto!important;height:100%;margin:0 auto -120px}.push{height:120px}@media only screen and (max-width:768px){.rows{margin-left:10%;margin-right:10%}.thumbnails{max-width:280px}.rows h4{font-size:14px;padding-top:25px}.col-xs-12 .caption h4{margin:0}}@media only screen and (max-width:768px) and (min-width:500px){.rows{margin-left:25%;margin-right:25%}}</style><div class="container">
    <h3 class="nis"> OUR TEAM</h3>
  <ul class="nav nav-pills" id="nishith">
    <li class="active"><a data-toggle="pill" href="#CORE">CORE TEAM</a></li>
    <li><a data-toggle="pill" href="#WEB">WEB TEAM</a></li>
    <li><a data-toggle="pill" href="#PR">PUBLIC RELATIONS</a></li>
    <li><a data-toggle="pill" href="#LOGISTICS">LOGISTICS</a></li>
      <li><a data-toggle="pill" href="#DR">DEPARTMENTAL REPRESENTATIVES</a></li>
  </ul>
    <hr>
  
  <div class="tab-content">
    <div id="CORE" class="tab-pane fade in active">
         <div class="col-md-3 col-sm-4 col-xs-12" data-tag="art">
					<div class="thumbnail">
						<img class="img-round img-responsive" id="photo" alt="270x170" src="/static/Team members/Core team/RajanArora.jpg">
						<div class="caption">
							<h4>Rajan Arora<br></h4>
                            IDD PartV Chemical Engineering<br>
                            +91-8953880025
						</div>
					</div>
				</div>
         <div class="col-md-3 col-sm-4 col-xs-12" data-tag="art">
					<div class="thumbnail">
						<img class="img-round img-responsive" id="photo" alt="270x170" src="/static/Team members/Core team/b4.jpg">
						<div class="caption">
							<h4>Tanay Sharma<br></h4>
                              IDD PartV Computer science Engineering<br>
                             +91-9956919622
						</div>
					</div>
				</div>
         <div class="col-md-3 col-sm-4 col-xs-12" data-tag="art">
					<div class="thumbnail">
						<img class="img-round img-responsive" id="photo" alt="270x170" src="/static/Team members/Core team/b4.jpg">
						<div class="caption">
							<h4>Yash Shah</h4>
                            IDD PartV Biochemical Engineering<br>
                             +91-8417060700
						</div>
					</div>
				</div>
    </div>
      
      
    <div id="WEB" class="tab-pane fade">
       <div class="col-md-3 col-sm-4 col-xs-12" data-tag="art">
					<div class="thumbnail">
						<img class="img-round img-responsive" id="photo" alt="270x170" src="/static/Team members/web/ShivamBanka.jpg">
						<div class="caption">
							<h4>Shivam Kumar Banka<br></h4>
                            IDD PartIV Mining Engineering<br>
                            +91-9838250520,+919
						</div>
					</div>
				</div>
         <div class="col-md-3 col-sm-4 col-xs-12" data-tag="art">
					<div class="thumbnail">
						<img class="img-round img-responsive" id="photo" alt="270x170" src="/static/Team members/web/nishith.jpg">
						<div class="caption">
							<h4>Chinnala Nishith<br></h4>
                             Electrical Engineering Btech Part III<br>
                            +91-9490608898   
						</div>
					</div>
				</div>
      </div>
        
            
    <div id="PR" class="tab-pane fade">
       <div class="col-md-3 col-sm-4 col-xs-12" data-tag="art">
					<div class="thumbnail">
						<img class="img-round img-responsive" id="photo" alt="270x170" src="/static/Team members/pr/Agnivesh.jpg">
						<div class="caption">
							<h4>Agnivesh Narmeta</h4>
                         Pharmaceuticals Engineering IDD Part IV<br>
                            +91-7705978798     
						</div>
					</div>
				</div>
         <div class="col-md-3 col-sm-4 col-xs-12" data-tag="art">
					<div class="thumbnail">
						<img class="img-round img-responsive" id="photo" alt="270x170" src="/static/Team members/pr/Shivdeep.jpg">
						<div class="caption">
							<h4>Shivdeep Singh</h4>
                            Chemical Engineering  Btech Part III<br>
                            +91-7607982228    
						</div>
					</div>
				</div>
         <div class="col-md-3 col-sm-4 col-xs-12" data-tag="art">
					<div class="thumbnail">
						<img class="img-round img-responsive" id="photo" alt="270x170" src="/static/Team members/pr/Anunay Civil.jpg">
						<div class="caption">
							<h4>Anunay Jain<br></h4>
                            Civil Engineering  Btech Part II<br>
                            +91-9452211811
						</div>
					</div>
				</div>
         <div class="col-md-3 col-sm-4 col-xs-12" data-tag="art">
					<div class="thumbnail">
						<img class="img-round img-responsive" id="photo" alt="270x170" src="/static/Team members/pr/PRAKHAR.jpg">
						<div class="caption">
							<h4>Prakhar Doorwar<br></h4>
                             Chemical Engineering  Btech Part II<br>
                            +91-8004830479
						</div>
					</div>
				</div>
         <div class="col-md-3 col-sm-4 col-xs-12" data-tag="art">
					<div class="thumbnail">
						<img class="img-round img-responsive" id="photo" alt="270x170" src="/static/Team members/pr/b1.jpg">
						<div class="caption">
							<h4>Mayank Vats<br></h4>
                             Chemical Engineering  Btech Part IV<br>
                            +91-8543018581
						</div>
					</div>
				</div>
      </div>
   
      
            
    <div id="LOGISTICS" class="tab-pane fade">
       <div class="col-md-3 col-sm-4 col-xs-12" data-tag="art">
					<div class="thumbnail">
						<img class="img-round img-responsive" id="photo" alt="270x170" src="/static/Team members/logistics/Hrishikesh Cera.jpg">
						<div class="caption">
							<h4>Hrishikesh Krishna</h4>
                             Ceramic Engineering  Btech Part III<br>
                            +91-7388325585
						</div>
					</div>
				</div>
         <div class="col-md-3 col-sm-4 col-xs-12" data-tag="art">
					<div class="thumbnail">
						<img class="img-round img-responsive" id="photo" alt="270x170" src="/static/Team members/logistics/PrashantSharma.jpg">
						<div class="caption">
							<h4>Prashant Sharma</h4>
                            Electrical Engineering  Btech Part III<br>
                            +91-8081827297
						</div>
					</div>
				</div>
         <div class="col-md-3 col-sm-4 col-xs-12" data-tag="art">
					<div class="thumbnail">
						<img class="img-round img-responsive" id="photo" alt="270x170" src="/static/Team members/logistics/b1.jpg">
						<div class="caption">
							<h4>Ronith Reddy</h4>
                           Mathematics and Computing Engineering  Btech Part III<br>
                            +91-9956546408
						</div>
					</div>
				</div>
        
         <div class="col-md-3 col-sm-4 col-xs-12" data-tag="art">
					<div class="thumbnail">
						<img class="img-round img-responsive" id="photo" alt="270x170" src="/static/Team members/logistics/ShashankPardhikar.jpg">
						<div class="caption">
							<h4>Shashank Pardhikar</h4>
                            Chemical  Engineering  Btech Part III<br>
                            +91-7275564412
						</div>
					</div>
				</div>
         <div class="col-md-3 col-sm-4 col-xs-12" data-tag="art">
					<div class="thumbnail">
						<img class="img-round img-responsive" id="photo" alt="270x170" src="/static/Team members/Logistics/AbhimanyuSoni.jpg">
						<div class="caption">
							<h4>Abhimanyu Soni</h4>
                            Chemical  Engineering  Btech Part III<br>
                            +91-7275773503
						</div>
					</div>
				</div>
      </div>
      
                 
      <div id="DR" class="tab-pane fade">
    <ul class="list-inline" id="way">
    <li class="active"><a data-toggle="tab" href="#CIVIL">CIVIL</a></li>
    <li><a data-toggle="tab" href="#CSE">CSE</a></li>
    <li><a data-toggle="tab" href="#CERA">CERAMICS</a></li>
    <li><a data-toggle="tab" href="#CHEM">CHEMICAL</a></li>
    <li><a data-toggle="tab" href="#META">METALLURGY</a></li>            
    <li><a data-toggle="tab" href="#MIN">MINING</a></li>
    <li><a data-toggle="tab" href="#MECH">MECHANICAL</a></li>
    <li><a data-toggle="tab" href="#MST">MATERIAL SCIENCE</a></li>
    <li><a data-toggle="tab" href="#ELECTRICAL">ELECTRICAL</a></li>
    <li><a data-toggle="tab" href="#ELECTRONICS"> ELECTRONICS</a></li>
    <li><a data-toggle="tab" href="#EP">ENGINEERING PHYSICS</a></li>
    <li><a data-toggle="tab" href="#BM">BIOMEDICAL</a></li>
    <li><a data-toggle="tab" href="#BC">BIO CHEMICAL</a></li>
    <li><a data-toggle="tab" href="#IC">INDUSTRIALCHEMISTRY</a></li>
         </ul>
         <hr>
      
      
           <div class="tab-content">
            <div id="CIVIL" class="tab-pane fade in active">
       <div class="col-md-3 col-sm-4 col-xs-12" data-tag="art">
					<div class="thumbnail">
						<img class="img-round img-responsive" id="photo" alt="270x170" src="/static/Team members/dr/AagamJain.jpg">
						<div class="caption">
							<h4>Aagam Jain<br></h4>
                            Civil Engineering  Btech Part IV<br>
                            +91-7752957500
						</div>
					</div>
				</div>
         <div class="col-md-3 col-sm-4 col-xs-12" data-tag="art">
					<div class="thumbnail">
						<img class="img-round img-responsive" id="photo" alt="270x170" src="/static/Team members/dr/pradeep civil.jpg">
						<div class="caption">
							<h4>Pradeep Patel<br></h4>
                            Civil Engineering  Btech Part III<br>
                            +91-8765143595
						</div>
					</div>
				</div>
        <div class="col-md-3 col-sm-4 col-xs-12" data-tag="art">
					<div class="thumbnail">
						<img class="img-round img-responsive" id="photo" alt="270x170" src="/static/Team members/dr/ShubhamKumar.jpg">
						<div class="caption">
							<h4>Shubham Kumar<br></h4>
                            Civil Engineering  Btech Part IV<br>
                            +91-8052624627
						</div>
					</div>
           </div>
           </div>
                
           
               
             <div id="CSE" class="tab-pane fade">   
           <div class="col-md-3 col-sm-4 col-xs-12" data-tag="art">	
              <div class="thumbnail">
						<img class="img-round img-responsive" id="photo" alt="270x170" src="/static/Team members/dr/AkshayJaiswal.jpg">
						<div class="caption">
							<h4>Akshay Jaiswal<br></h4>
                            Computer Science And Engineering  IDD Part V<br>
                            +91-8934834069
						</div>
					</div>
				</div>
           <div class="col-md-3 col-sm-4 col-xs-12" data-tag="art">	
              <div class="thumbnail">
						<img class="img-round img-responsive" id="photo" alt="270x170" src="/static/Team members/dr/Pavan Computer.jpg">
						<div class="caption">
							<h4>Bhuvanagiri Pavan Priyatham <br></h4>
                            Computer Science And Engineering  Btech Part IV<br>
                            +91-775295749
						</div>
					</div>
				</div>
           </div>
                  
    
                   
           <div id="CERA" class="tab-pane fade">
           <div class="col-md-3 col-sm-4 col-xs-12" data-tag="art">	
              <div class="thumbnail">
						<img class="img-round img-responsive" id="photo" alt="270x170" src="/static/Team members/dr/Tejas cera.jpg">
						<div class="caption">
							<h4>Tejas Saxena<br></h4>
                            Ceramic Engineering  Btech Part IV<br>
                            +91-9889736513
						</div>
					</div>
				</div>
           <div class="col-md-3 col-sm-4 col-xs-12" data-tag="art">	
              <div class="thumbnail">
						<img class="img-round img-responsive" id="photo" alt="270x170" src="/static/Team members/dr/AveeshAgarwal.jpg">
						<div class="caption">
							<h4>Aveesh Agarwal<br></h4>
                            Ceramic Engineering  Btech Part IV<br>
                            +91-8896680887
						</div>
					</div>
				</div>
           <div class="col-md-3 col-sm-4 col-xs-12" data-tag="art">	
              <div class="thumbnail">
						<img class="img-round img-responsive" id="photo" alt="270x170" src="/static/Team members/dr/Ayush jain cera.jpg">
						<div class="caption">
							<h4>Ayush Jain<br></h4>
                            Ceramic Engineering  Btech Part III<br>
                            +91-9761947044
						</div>
					</div>
				</div>
           </div>
                       
        
                       
           <div id="CHEM" class="tab-pane fade">
           <div class="col-md-3 col-sm-4 col-xs-12" data-tag="art">	
              <div class="thumbnail">
						<img class="img-round img-responsive" id="photo" class="ni" alt="270x170" src="/static/Team members/dr/Siddhant Chemical.jpg">
						<div class="caption">
							<h4>Jain Siddhant Shailesh<br></h4>
                            Chemical Engineering  Btech Part III<br>
                            +91-9833947187
						</div>
					</div>
				</div>
           <div class="col-md-3 col-sm-4 col-xs-12" data-tag="art">	
              <div class="thumbnail">
						<img class="img-round img-responsive" id="photo" alt="270x170" src="static/Team members/dr/SanjeetKumar.jpg">
						<div class="caption">
							<h4>Sanjeet Kumar Giri<br></h4>
                            Chemical Engineering  Btech Part II<br>
                            +91-7270868511
						</div>
					</div>
				</div>
           <div class="col-md-3 col-sm-4 col-xs-12" data-tag="art">	
              <div class="thumbnail">
						<img class="img-round img-responsive" id="photo" alt="270x170" src="/static/Team members/dr/Animesh Chem.jpg">
						<div class="caption">
							<h4>Animesh Agarwal<br></h4>
                            Chemical Engineering  Btech Part III<br>
                            +91-9889083993
						</div>
					</div>
				</div>
           </div>
                            
  
                           
          <div id="META" class="tab-pane fade"> 
           <div class="col-md-3 col-sm-4 col-xs-12" data-tag="art">	
              <div class="thumbnail">
						<img class="img-round img-responsive" id="photo" alt="270x170" src="/static/Team members/dr/Mazher Khan meta.jpg">
						<div class="caption">
							<h4>Mazher Khan<br></h4>
                           Metallurgical Engineering  Btech Part IV<br>
                            +91-7052014206
						</div>
					</div>
				</div>
           <div class="col-md-3 col-sm-4 col-xs-12" data-tag="art">	
              <div class="thumbnail">
						<img class="img-round img-responsive" id="photo" alt="270x170" src="/static/Team members/dr/Kanmani meta.jpg">
						<div class="caption">
							<h4>M Kanmani Rajasekar<br></h4>
                           Metallurgical Engineering  Btech Part IV<br>
                            +91-7753969432
						</div>
					</div>
           </div>
           <div class="col-md-3 col-sm-4 col-xs-12" data-tag="art">	
              <div class="thumbnail">
						<img class="img-round img-responsive" id="photo" alt="270x170" src="/static/Team members/dr/Rajat Arora Meta.jpg">
						<div class="caption">
							<h4>Rajat Arora<br></h4>
                           Metallurgical Engineering  Btech Part IV<br>
                            +91-8687877983
						</div>
					</div>
				</div>
           </div>
                            
        
                               
           <div id="MIN" class="tab-pane fade">
      <div class="col-md-3 col-sm-4 col-xs-12" data-tag="art">	
              <div class="thumbnail">
						<img class="img-round img-responsive" id="photo" alt="270x170" src="/static/Team members/dr/RishabhGupta.jpg">
						<div class="caption">
							<h4>Rishabh Gupta<br></h4>
                           Mining Engineering  Btech Part III<br>
                            +91-7275144341
						</div>
					</div>
				</div>     
           <div class="col-md-3 col-sm-4 col-xs-12" data-tag="art">	
              <div class="thumbnail">
						<img class="img-round img-responsive" id="photo" alt="270x170" src="/static/Team members/dr/Pawan kumar Mining.jpg">
						<div class="caption">
							<h4>Pawan Kumar Panwar<br></h4>
                           Mining Engineering  Btech Part IV<br>
                            +91-7752957503
						</div>
					</div>
				</div>   
           <div class="col-md-3 col-sm-4 col-xs-12" data-tag="art">	
              <div class="thumbnail">
						<img class="img-round img-responsive" id="photo" alt="270x170" src="/static/Team members/dr/Jeet Parekh Mining.jpg">
						<div class="caption">
							<h4>Jeet Parekh<br></h4>
                           Mining Engineering  Btech Part III<br>
                            +91-9628509850
						</div>
					</div>
				</div> 
           </div>
                                    
             
                                   
            <div id="MECH" class="tab-pane fade">
           <div class="col-md-3 col-sm-4 col-xs-12" data-tag="art">	
              <div class="thumbnail">
						<img class="img-round img-responsive" id="photo" alt="270x170" src="/static/Team members/dr/kishore.jpg">
						<div class="caption">
							<h4>N. V. N.Kishore<br></h4>
                           Mechanical Engineering  Btech Part III<br>
                            +91-7052378502
						</div>
					</div>
				</div>
           <div class="col-md-3 col-sm-4 col-xs-12" data-tag="art">	
              <div class="thumbnail">
						<img class="img-round img-responsive" id="photo" alt="270x170" src="/static/Team members/dr/b1.jpg">
						<div class="caption">
							<h4>K Arun Kumar<br></h4>
                           Mechanical engineering   Btech Part III<br>
                            +91-7200007691
						</div>
					</div>
				</div>
           <div class="col-md-3 col-sm-4 col-xs-12" data-tag="art">	
              <div class="thumbnail">
						<img class="img-round img-responsive" id="photo" alt="270x170" src="/static/Team members/dr/SrijanChaubey.jpg">
						<div class="caption">
							<h4>Srijan Chaubey<br></h4>
                          Mechanical Engineering Btech Part III<br>
                            +91-7275592459
						</div>
					</div>
				</div>
           </div>
                                       
            
                                       
             <div id="MST" class="tab-pane fade">
           <div class="col-md-3 col-sm-4 col-xs-12" data-tag="art">	
              <div class="thumbnail">
						<img class="img-round img-responsive" id="photo" alt="270x170" src="/static/Team members/dr/monika mst.jpg">
						<div class="caption">
							<h4>Monika Patel<br></h4>
                           Material Science and Technology  IDD Part V<br>
                            +91-9453013467
						</div>
					</div>
				</div>
           <div class="col-md-3 col-sm-4 col-xs-12" data-tag="art">	
              <div class="thumbnail">
						<img class="img-round img-responsive" id="photo" alt="270x170" src="/static/Team members/dr/Rajat Singh Mate.jpg">
						<div class="caption">
							<h4>Rajat Kumar Singh<br></h4>
                           Material Science and Technology  IDD Part III<br>
                            +91-9565525959
						</div>
					</div>
				</div>
           </div>
                                           
       
                                          
         <div id="ELECTRICAL" class="tab-pane fade">
            <div class="col-md-3 col-sm-4 col-xs-12" data-tag="art">	
              <div class="thumbnail">
						<img class="img-round img-responsive" id="photo" alt="270x170" src="/static/Team members/dr/Sai Teja  Electrical.jpg">
						<div class="caption">
							<h4>Mulpuru Sai Teja<br></h4>
                           Electrical Engineering  IDD Part IV<br>
                            +91-9454276550
						</div>
					</div>
				</div>  
                
            <div class="col-md-3 col-sm-4 col-xs-12" data-tag="art">	
              <div class="thumbnail">
						<img class="img-responsive" id="photo" alt="270x170" src="/static/Team members/dr/Ankush Electrical.jpg">
						<div class="caption">
							<h4>Ankush Bansal<br></h4>
                           Electrical Engineering  Btech Part III<br>
                            +91-8127046668
						</div>
					</div>
				</div>  
                
            <div class="col-md-3 col-sm-4 col-xs-12" data-tag="art">	
              <div class="thumbnail">
						<img class="img-round img-responsive" id="photo" alt="270x170" src="/static/Team members/dr/Prakhar Electrical.jpg">
						<div class="caption">
							<h4>Prakhar Rastogi<br></h4>
                           Electrical Engineering  IDD Part III<br>
                            +91-9838320102
						</div>
					</div>
				</div> 
           </div>
                                            
           
                                               
            <div id="ELECTRONICS" class="tab-pane fade">
           <div class="col-md-3 col-sm-4 col-xs-12" data-tag="art">	
              <div class="thumbnail">
						<img class="img-round img-responsive" id="photo" alt="270x170" src="/static/Team members/dr/Meenal Electronics.jpg">
						<div class="caption">
							<h4>Meenal Baheti<br></h4>
                           Electronics Engineering  Btech Part III<br>
						</div>
					</div>
				</div>  
                
           <div class="col-md-3 col-sm-4 col-xs-12" data-tag="art">	
              <div class="thumbnail">
						<img class="img-round img-responsive" id="photo" alt="270x170" src="/static/Team members/dr/Kodidasu Electronics.jpg">
						<div class="caption">
							<h4>Kodidasu Dyanesh<br></h4>
                           Electronics Engineering  Btech Part II<br>
                            +91-8173863973
						</div>
					</div>
				</div>  
           </div>
                                                    
           
                                                   
            <div id="EP" class="tab-pane fade">
           <div class="col-md-3 col-sm-4 col-xs-12" data-tag="art">	
              <div class="thumbnail">
						<img class="img-round img-responsive" id="photo" alt="270x170" src="/static/Team members/dr/PRASHANTHI Ep.jpg">
						<div class="caption">
							<h4>M. Prashanthi<br></h4>
                           Engineering Physics  IMD Part IV<br>
                            +91-9454214170
						</div>
					</div>
           </div>
                
               <div class="col-md-3 col-sm-4 col-xs-12" data-tag="art">	
              <div class="thumbnail">
						<img class="img-round img-responsive" id="photo" alt="270x170" src="/static/Team members/dr/Shyam Ep.jpg">
						<div class="caption">
							<h4>Shyam Harimohan Menon<br></h4>
                           Engineering Physics  IMD Part IV<br>
                            +91-8874597917
						</div>
					</div>
           </div>
                
               <div class="col-md-3 col-sm-4 col-xs-12" data-tag="art">	
              <div class="thumbnail">
						<img class="img-responsive" id="photo" alt="270x170" src="/static/Team members/dr/b1.jpg">
						<div class="caption">
							<h4>M. Prashanthi<br></h4>
                           Engineering Physics  IMD Part III<br>
                            +91-9670000239
						</div>
					</div>
           </div>
           </div>
                                                        
        
                                                       
         <div id="BM" class="tab-pane fade">
           <div class="col-md-3 col-sm-4 col-xs-12" data-tag="art">	
              <div class="thumbnail">
						<img class="img-round img-responsive" id="photo" alt="270x170" src="/static/Team members/dr/AnmolSahu.jpg">
						<div class="caption">
							<h4>Anmol Sahu<br></h4>
                          Biomedical Engineering  IDD Part IV<br>
                            +91-7705951021
						</div>
					</div>
           </div>
           <div class="col-md-3 col-sm-4 col-xs-12" data-tag="art">	
              <div class="thumbnail">
						<img class="img-round img-responsive" id="photo" alt="270x170" src="/static/Team members/dr/b1.jpg">
						<div class="caption">
							<h4>Nayanraj Vakil<br></h4>
                          Biomedical Engineering  IDD Part V<br>
                            +91-8562931030
						</div>
					</div>
           </div>
           </div>
                                                            
          
                                                          
            <div id="BC" class="tab-pane fade">
          <div class="col-md-3 col-sm-4 col-xs-12" data-tag="art">	
              <div class="thumbnail">
						<img class="img-round img-responsive" id="photo" alt="270x170" src="/static/Team members/dr/mayank kumar bc.jpg">
						<div class="caption">
							<h4>Mayank Kumar Singh<br></h4>
                          Biochemical Engineering  IDD Part IV<br>
                            +91-9935024502
						</div>
					</div>
           </div> 
           </div>
                                                              
           
                                                              
            <div id="IC" class="tab-pane fade">
            <div class="col-md-3 col-sm-4 col-xs-12" data-tag="art">	
              <div class="thumbnail">
						<img class="img-round img-responsive" id="photo" alt="270x170" src="/static/Team members/dr/avj.jpg">
						<div class="caption">
							<h4>Aditya Veer Jain<br></h4>
                          Industrial Chemistry  IMD Part V<br>
                            +91-9450516595

						</div>
					</div>
           </div>
                                                                   </div>
                                                                    </div>
                   
    </div>
  </div>
</div>

	
{% endblock %}

{% block scripts %}
{% endblock %}